@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #356077;
}

main {
  background-color: #82bfca;
  margin: 0 auto;
  max-width: 80%;
}

header {
  background-color: #6b9ca5;
  margin: auto;
  min-width: 80%;
}

#header-container {
  color: #1e3846;
}

figure {
  text-align: center;
}

h1 {
  padding: 20px;
  font-size: 2.7rem;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

header img {
  height: 350px;
  border-radius: 20px;
  border: 2px solid #356077;
}

header p {
  font-size: 1rem;
  font-weight: 600;
  max-width: 600px;
  margin: 2em auto 1.7em;
  padding-bottom: 2em;
}

.divider {
  border-top: 2px solid #808080;
  height: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

main {
  display: flex;
  justify-content: space-around;
  min-height: 600px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #356077;
  padding: 24px 0;
}

.main-container p {
  font-weight: 600;
}

.info-container {
  width: 80%;
  padding: 1em;
}

#info-img {
  height: 300px;
  border-radius: 50%;
  border: 2px solid #356077;
}

.img-div {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 75px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  background-color: #6b9ca5;
  margin: auto;
  width: 80%;
  min-height: 500px;
}

.section-header {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 800;
  margin: 30px 0;
  color: #1e3846;
}

.section-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #1e3846;
  font-weight: 500;
}

div.section-container img {
  height: 200px;
  border: 2px solid #356077;
  border-radius: 6px;
  box-shadow: 10px 10px 8px #356077;
}

.quote-block {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 400px;
}

div.quote-block p {
  width: 350px;
  font-size: 1.2rem;
}

#quote-img {
  height: 220px;
  border: 2px solid #356077;
  border-radius: 4px;
}

#awards-container {
  background-color: #82bfca;
  margin: auto;
  width: 80%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.award-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 40px;
}

.awards-card {
  padding: 12px;
  height: 100%;
  flex: 1; /*Tells it you want the children to grow equally AND start from a zero initial size */
  margin: 15px 8px;
  display: flex;
  justify-content: flex-start;
  /* border: 3px solid #356077; */
  border-radius: 6px;
}

.awards-card img {
  height: 180px;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: auto;
  margin-bottom: auto;
  width: 121px;
}

.awards-card .divider {
  border-top: 2px solid #12232c;
  height: 0;
  margin-top: 0.8em;
  margin-bottom: 2.2em;
}

.award-section {
  border: 2px solid #12232c;
  border-radius: 12px;
  width: 90%;
  margin: 22px auto;
}

.award-divider {
  border-top: 2px solid #12232c;
  height: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 94%;
}

.award-text {
  padding: 5px;
}

#awards-header {
  text-align: center;
  font-size: 2.4rem;
  margin-top: 20px;
  margin-bottom: 38px;
  color: #1e3846;
}

.award-name {
  text-align: left;
  margin-left: 50px;
  margin-bottom: -14px;
  margin-top: 40px;
  font-size: 1.8rem;
  color: #12232c;
}

.award-text h4 {
  font-size: 1.3rem;
  margin: 12px 0;
  color: #1e3846;
}

.award-text p {
  font-size: 1.1rem;
  margin: 6px 0;
  color: #12232c;
}

.sm-text {
  font-size: 0.8rem;
  color: #1e3846;
  font-weight: 500;
}

.sm-text a {
  font-size: 1rem;
}

h5 {
  color: #1e3846;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: -10px;
  margin-bottom: 4px;
}

/* FOOTER */
footer {
  width: 80%;
  min-height: 100px;
  margin: auto;
  background-color: #6b9ca5;
}

footer a {
  color: #12232c;
  font-weight: 500;
  font-size: 16px;
  display: block;
  margin: 8px 6px;
  text-align: left;
}

footer div {
  margin: 30px;
}

h4 {
  color: #12232c;
  font-size: 1.4rem;
  font-weight: 700;
}
